<body class=" w-full   ">
<article class="lg:h-max lg:flex flex-wrap ">
  <aside class=" lg:h-screen   h-256 lg:w-2/5 max-lg:landscape:h-max ">
    <div class="h-full max-lg:py-48 lg:py-32 2xl:py-48 px-5  ">
      <div class="max-lg:h-72   max-lg:landscape:text-5xl max-lg:text-7xl lg:h-48 max-lg:landscape:h-32 lg:text-4xl 2xl:text-5xl ">
        <h1>Siamo</h1>
    <h1 [class.animacion]="animacionDerechaIzquierda">{{ fraseActual }}</h1>
      </div>
      <div class="max-lg:h-128 lg-h-max ">
        <p class=" max-lg:text-5xl max-lg:h-80 lg:text-2xl  py-24 lg:py-16 2xl:py-24">  Nata della collabotazione di due liberi profesionisti e da un gruppo di
          progettisti, con competenze ed esperieze maturate in diversi settori tecnici</p>
  <footer class=" max-lg:h-48 my-12 max-lg:py-16 lg:py-8 max-lg:text-4xl lg:text-xl"><a routerLink="società">Per saperne di più</a></footer>
      </div>
    
    </div>
  </aside>
  <section class="lg:h-screen  h-256 lg:w-3/5 max-lg:landscape:h-128 ">
    <img src="assets/img/home/img9.jpg" alt="" class="max-lg:h-full w-full object-cover lg:h-full">
  </section>
  
</article>
  

  
<section class="lg:h-96 min-h-max bg-black w-full flex items-center justify-center py-16 ">
  <div class=" 2xl:w-5/6 px-8 w-screen  h-96 flex justify-center flex-col text-white">
  <ul class="w-full h-1/5 flex justify-between border-b border-white lg:px-8  px-2 font-semibold  text-3xl 2xl:text-lg landscape:text-2xl">
<li class="w-12 flex justify-center ">Paese</li>
<li class="w-12 flex justify-center ">Lunghezza</li>
<li class="w-12 flex justify-center ">Tipo</li>
<li class="w-12 flex justify-center ">Città</li>
<li class="w-12 flex justify-center ">Capitale</li>
<li class="w-12 flex justify-center ">Fondata</li>
  </ul>
<ul class="w-full h-1/6 flex justify-between border-b border-white lg:px-8 px-2 items-start mt-6 2xl:text-base text-3xl">
<li class="w-12 flex justify-center ">Italia</li>
<li class="w-12 flex justify-center ">S</li>
<li class="w-12 flex justify-center ">Engineering</li>
<li class="w-12 flex justify-center ">Arco</li>
<li class="w-12 flex justify-center ">100.000</li>
<li class="w-12 flex justify-center ">2006</li>


</ul>
</div>
</section>

  





<div class="bg-black h-full ">
  <div class="text-white flex lg:text-4xl max-lg:text-6xl py-12 justify-center">
    <h1>Servizi</h1>
  </div>

  <div class=" h-full flex flex-wrap   lg:px-4 px-0  ">
    <div
      class="justify-center lg:h-128 max-lg:h-max lg:w-1/4 max-lg:landscape:w-1/2 w-full bg-black border-gray-800 flex-col border-y border"
      *ngFor="let service of servizio">
      <div class=" lg:h-2/6 w-full max-lg:h-4/5">
        <img [src]="service.img[0].url" alt="" class="lg:h-full h-128 max-lg:landscape:h-64 w-full object-cover">
      </div>
      <div class=" text-white h-40  max-lg:text-5xl  max-lg:landscape:text-4xl   lg:text-xl 2xl:text-2xl  max-lg:items-center lg:items-end px-8  lg:h-16  flex   w-full">
        <h1>{{service.name}}</h1>
      </div>
      <div class="lg:h-3/6 2xl:h-2/5 max-lg:h-72 lg:py-4  px-8 text-white  lg:text-2xl:text-base  max-lg:text-4xl max-lg:landscape:text-2xl  ">
        <h1>{{service.description[0]?.text}}</h1>
      </div>
      <div class="lg:h-4  self-end h-48  flex px-2 items-center text-white ">
        <svg class="sm:max-lg:h-32 lg:h-14 " viewBox="-4.96 -4.96 25.92 25.92" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" stroke="#ffffff" stroke-width="0.00016"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M8.64 5l2.5 2.5v.7l-2.5 2.5-.71-.7 1.64-1.65H4v-1h5.57L7.92 5.7l.72-.7z"></path></g></svg>
     <a class="max-lg:text-4xl 2xl:text-max-lg:landscape:text-2xl "    [routerLink]="['/servizi', service.id]">Per saperne di più</a>
      </div>
    </div>


    <div class="bg-black lg:w-1/4 w-full sm:max-lg:landscape:w-1/2  flex justify-center  border border-gray-600 items-center">
      <div class=" lg:h-1/2 w-1/2 flex h-128 items-center justify-center">
        <div class="">
          
          <button class="bg-white py-3 xl:px-8 px-16 rounded-md"><a routerLink="/contatti">Contattaci!</a></button>
        </div>


      </div>

    </div>

  </div>




</div>
  
  <app-on-top-button class=""></app-on-top-button>
   
</body>